<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ease.modules">
      <module
            class="JPCreator"
            id="EASE-Project-Creator.module1"
            name="EASE-Project-Creator.JPCreator"
            visible="true">
         <dependency
               module="org.eclipse.ease.modules.charting.ChartingModule"
               reload="false">
         </dependency>
      </module>
   </extension>

</plugin>
